
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
   
}

.m-num, .m-read{
    display: none;
}
.hidden{
    display: flex;
}
.disappear{
    display: none;
}
.pop-win{
    width: 50%;
    padding: 2rem;
    border-radius: 1rem;
    background: #fff;
    position: relative;
}
.cls-btn{
    position: absolute;
    top: 2px;
    right: 2px;
}
